/* Variabelen */
$font-family: "Inter", sans-serif;
$color-primary: #8D7CD3;
$color-secondary: #705FB4;
$border-radius: 20px;
$font-color: #ffffff;

/* Namespace */
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: $color-primary;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  .header-left {
    margin-right: auto;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;

        a {
          text-decoration: none;
          margin: 0 20px;
          color: $font-color;
        }
      }
    }
  }
}

main {
  flex-grow: 1;
  @extend %flex-center;
  flex-direction: column;
  padding: 20px;
  width: 100%;

  .centerblock, .block {
    @extend %flex-center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color-primary;
    color: $font-color;
    text-align: center;
    border-radius: $border-radius;
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
  }

  .centerblock {
    height: auto;
  }

  .block {
    height: auto;
  }
}

footer {
  background-color: $color-secondary;
  padding: 10px 0;
  text-align: center;
  color: $font-color;
  flex-shrink: 0;
}

/* Media queries voor responsiviteit */
@media (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: flex-start;

    nav {
      ul {
        li {
          a {
            margin: 5px 0;
          }
        }
      }
    }
  }

  main {
    padding: 10px;

    .centerblock, .block {
      font-size: 14px;
      padding: 10px;
      margin: 10px 0;
    }
  }
}

@media (min-width: 1920px) {
  main {
    .centerblock, .block {
      max-width: 800px;
      font-size: 18px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  main {
    .centerblock, .block {
      max-width: 700px;
    }
  }
}
